.answer {
    padding: 5px;
    margin: 5px;
    text-align: left;
    cursor: pointer;
    background-color: #eee;
    border: 2px solid #eee;

    &:hover {
      background-color: lightgoldenrodyellow;
      border: 2px solid goldenrod;
    }
  }

.responsive {
  width: 100%;
  /* max-width: 500px; */
  height: auto;
}

.card__image {
  border-radius: 3px;
  overflow: hidden;
  padding: 0px;
  /* margin: 7px; */
}

.card__image > img {
  transition: all .25s ease-in-out;
}

.card__image:hover > img {
  transform: scale(1.2);
  cursor: pointer;
}
.question{
  /* text-align: center; */

}

:host{
  display: block;
  max-width: 520px;
  text-align: center;
}